.bikin {
    color: red;
    background-color: aqua;
    width: 29.7cm;
    /* background-image: url('https://i.ibb.co/g6MCFdK/sertif-pelatihan-data.png'); */
    background-size: cover;
    position: absolute;
    top: 200 - 50;
    left: 100;
    font-size: 12px;
}
